<div class="background">
    <form (submit)="onSubmit()" class="form-card">
        <div class="form-title">Welcome 👋</div>

        <div class="form-subtitle">Set a username to get started</div>

        <div class="auth">
            <div class="auth-label">Username</div>
            <input class="auth-input" name="username" [(ngModel)]="username" />

            <div class="form-subtitle">Set a password </div>

            <div class="pass-label">Password</div>
            <input class="auth-input" name="password" [(ngModel)]="password" type="password" />
            <button class="auth-button" type="submit">
                Enter
            </button>
        </div>

        <div class="register-section">
            <div class="form-subtitle">Don't have an account ?</div>
            <a routerLink="/register" class="register-link">Register here</a>
        </div>
    </form>
</div>